<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Irto - index</title>
</head>
<body>
    <h3>WHO IS</h3>
    <h3>THE GHOST??</h3>
    <div id="card">
        <div id="card-roomname">Roomname: none</div>
        <div id="card-username">Username: none</div>
        <div id="card-members"></div>
    </div>
    <div id="game">
        <div id="game-odai"></div>
    </div>
    <div>
        <button type="button" onclick="gameUpdate()">Update</button>
        <button type="button" onclick="gameStart()">Start</button>
        <button type="button" onclick="gameEnd()">End</button>
        <button type="button" onclick="gameJoin()">Join</button>
        <button type="button" onclick="gameWatch()">Watch</button>
        <button type="button" onclick="gameExit()">Exit</button>
        <button type="button" onclick="gameVote()">Vote</button>
        <button type="button" onclick="gameJudge()">Judge</button>
        <button type="button" onclick="gameExtend()">Extend</button>
    </div>
    <div>
        <h4>WebSocket</h4>
        <button type="button" onclick="gameUpdateSocket()">Update</button>
        <button type="button" onclick="gameStartSocket()">Start</button>
        <button type="button" onclick="gameEndSocket()">End</button>
        <button type="button" onclick="gameJoinSocket()">Join</button>
        <button type="button" onclick="gameWatchSocket()">Watch</button>
        <button type="button" onclick="gameExitSocket()">Exit</button>
        <button type="button" onclick="gameVoteSocket()">Vote</button>
        <button type="button" onclick="gameJudgeSocket()">Judge</button>
        <button type="button" onclick="gameExtendSocket()">Extend</button>
    </div>
    <div id="socket-viewer">Connection none</div>
</body>
<script>
function gameUpdate() {
    postGameRequest("update", "");
}

function gameStart() {
    postGameRequest("start", "");
}
function gameEnd() {
    postGameRequest("end", "");
}
function gameJoin() {
    postGameRequest("join", "");
}
function gameWatch() {
    postGameRequest("watch", "");
}
function gameExit() {
    postGameRequest("exit", "");
}

function gameVote(whom) {
    postGameRequest("vote", whom);
}
function gameJudge() {
    postGameRequest("judge", "");
}
function gameExtend() {
    postGameRequest("extend", "");
}

function postGameRequest(command, meta) {
    let obj = {
        command: command,
        meta: meta,
    };
    postJSON("/game", JSON.stringify(obj));
}

function gameUpdateSocket() {
    postGameRequestSocket("update", "");
}

function gameStartSocket() {
    postGameRequestSocket("start", "");
}
function gameEndSocket() {
    postGameRequestSocket("end", "");
}
function gameJoinSocket() {
    postGameRequestSocket("join", "");
}
function gameWatchSocket() {
    postGameRequestSocket("watch", "");
}
function gameExitSocket() {
    postGameRequestSocket("exit", "");
    location.href = "/";
}

function gameVoteSocket(whom) {
    postGameRequestSocket("vote", whom);
}
function gameJudgeSocket() {
    postGameRequestSocket("judge", "");
}
function gameExtendSocket() {
    postGameRequestSocket("extend", "");
}

let socket_viewer = document.getElementById("socket-viewer");
var socket = new WebSocket("ws://" + window.location.host + "/socket");

socket.onopen = function() {
    socket_viewer.innerHTML = "Connection OK";
    postGameRequestSocket("update", "");
};

socket.onmessage = function(event) {
    console.log(event.data);
    handleResponse(JSON.parse(event.data));
}

function postGameRequestSocket(command, meta) {
    let obj = {
        command: command,
        meta: meta,
    };
    socket.send(JSON.stringify(obj));
}


function postJSON(url, data) {
    let req = new XMLHttpRequest();
    req.open("POST", url);
    req.setRequestHeader("Content-Type", "application/json");
    req.responseType = "json";
    req.onload = () => {
        console.log(req.response);
        handleResponse(req.response)
        //response_success.innerHTML = "Send Success";
        //response_status.innerHTML = req.status;
        //response_json.innerHTML = JSON.stringify(req.response);
    };
    req.onerror = () => {
        //response_success.innerHTML = "Send Error";
        //response_status.innerHTML = req.status;
        //response_json.innerHTML = JSON.stringify(req.response);
    };
    //post_url.innerHTML = url;
    //post_message.innerHTML = data;
    req.send(data);
}

var card_roomname = document.getElementById("card-roomname");
var card_username = document.getElementById("card-username");
var card_members = document.getElementById("card-members");

var game_odai = document.getElementById("game-odai");

var member_dom = [];

function updateUserInterface(cmd, auth, meta) {
    card_roomname.innerHTML = "Roomname: " + meta["room_state"]["roomname"] + "[" + meta["room_state"]["state"] + "]";
    card_username.innerHTML = "Username: " + auth["username"] + "[" + auth["state"] + "]";

    if (cmd == "start") {
        team = auth["team"];
        if (team == 0) {
            game_odai.innerHTML = "Your keyword: " + meta["room_state"]["a"];
        } else {
            game_odai.innerHTML = "Your keyword: " + meta["room_state"]["b"];
        }
    } else {
        game_odai.innerHTML = "Your keyword: none";
    }

    member_dom = [];
    card_members.innerHTML = "";
    members = meta["members"];
    for (let i in Object.keys(members)) {
        let m = document.createElement('div');
        m.textContent = members[i]["username"] + "[" + members[i]["state"] + "]";
        card_members.appendChild(m);
        console.log(members[i]);
    }
}

function handleResponse(response) {
    cmd = response["command"];
    auth = response["auth"]
    console.log("receive:", cmd);
    switch (cmd) {
        case "update":
            updateUserInterface(cmd, auth, response["meta"]);
            break;
        case "join":
            updateUserInterface(cmd, auth, response["meta"]);
            break;
        case "watch":
            updateUserInterface(cmd, auth, response["meta"]);
            break;
        case "start":
            updateUserInterface(cmd, auth, response["meta"]);
            break;
        case "end":
            updateUserInterface(cmd, auth, response["meta"]);
            break;
        case "exit":
            updateUserInterface(cmd, auth, response["meta"]);
            break;
    }

}


</script>
</html>
